.main {
  width: 100%;
  min-width: 1300px;
  display: flex;
  justify-content: space-around;
  .main-content {
    width: 60%;
    border: 1px solid blue;
    .blog-box {
      height: 150px;
      padding: 10px 20px;
      .blog-intro {
        display: flex;
        height: 30px;
        justify-content: space-between;
        align-items: flex-end;
        .blog-name {
          font-size: 20px;
          font-weight: 600;
          line-height: 26px;
          height: 26px;
        }
        .blog-date {
          font-size: 14px;
          font-weight: 300;
          line-height: 20px;
          height: 20px;
        }
      }
      .blog-part {
        height: 120px;
        display: flex;
        justify-content: space-start;
        padding: 5px 0;
        img {
          height: 100%;
          width: 150px;
          border-radius: 10px;
        }
        .blog-content {
          text-align: justify;
          padding: {
            left: 20px;
            top: 10px;
            right: 0;
            bottom: 20px;
          }
        }
      }
    }
  }
}
