.edit-box {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-around;
  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url("../../assets/images/bg/edit.jpg");
    background-size: 100%;
    opacity: 0.5;
    z-index: -1;
  }
  .edit-zone {
    width: 80%;
    padding: {
      left: 10px;
      top: 10px;
      right: 10px;
      bottom: 10px;
    }
    .el-form {
      .el-form-item__label {
        font-weight: 600;
      }
    }
    .title {
      .el-input {
        width: 60%;
      }
    }
    #editor {
      height: 346px;
      .fa-mavon-floppy-o {
        // 保存按钮
        line-height: 22px;
        height: 22px;
        width: 28px;
        &::before {
          font-size: 17px;
          color: red;
        }
      }
    }
  }
}
