@keyframes scale15 {
  from {
    transform: scaleX(1);
  }
  to {
    transform: scaleX(1.1);
  }
}
@mixin img {
  position: relative;
  border-radius: 3px;
  width: 200px;
  height: 100%;
  transition: transform 1s;
  &:hover {
    transform: scaleX(1.2);
  }
  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background-size: cover;
  }
}
.scale1_5 {
  transition: transform 1s;
  &:hover {
    transform: scale(1.1);
    font-weight: 600 !important;
  }
  .img0 {
    @include img;
    &::after {
      background: url("./assets/images/0.jpg") no-repeat;
    }
  }
  .img1 {
    @include img;
    &::after {
      background: url("./assets/images/1.jpg") no-repeat;
    }
  }
  .img2 {
    @include img;
    &::after {
      background: url("./assets/images/2.jpg") no-repeat;
    }
  }
  .img3 {
    @include img;
    &::after {
      background: url("./assets/images/3.jpg") no-repeat;
    }
  }
  .img4 {
    @include img;
    &::after {
      background: url("./assets/images/4.jpg") no-repeat;
    }
  }
}
