@mixin flexRow{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header{
  padding:{
    left: 50px;
  }
  height: 50px;
  @include flexRow;
  .left , .mid , .right{
    @include flexRow;
  }
  .left{
    a{
      padding-right: 10px;
    }
  }
}