.lifeTree {
  width: 100%;
  .tree-box {
    margin-left: 10%;
    color: white;
    border-left: 4px solid rgb(87, 87, 122);
    .node-border {
      position: relative;
      text-align: left;
      &::before {
        content: "";
        display: block;
        position: absolute;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: lightblue;
        left: -7px;
      }
      .lifenode {
        position: relative;
        height: 60px;    
        .node__content {
          width: 95%;
          margin-left: 3%;
          padding: {
            left: 5px;
            // top: 3px;
          }
          background-color: rgba(255, 169, 0, 1);
          .node__time {
            font-size: 13px;
            line-height: 13px;
            height: 13px;  //如果出现2行字莫名不能挨在一起，调整字的height即可
          }
          .node__text {
            font-size: 16px;
            line-height: 22px;
            font-weight: 600;
            text-indent: 1em;
            height: 22px;
          }
          .node-delete{
            position: absolute;
            top: 0;
            right: 0;
          }
        }
      }
    }
  }
}
