.devtree-box {
  width: 100%;
  .devTree {
    width: 90%;
    margin-left: 10%;
    color: white;
    border-left: 4px solid rgb(87, 87, 122);
    .node-border {
      position: relative;
      &::before {
        content: "";
        display: block;
        position: absolute;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: lightblue;
        left: -7px;
      }
      .lifenode {
        width: 100%;
        height: 50px;
        padding-top: 10px;
        .node__content {
          width: 95%;
          margin-left: 3%;
          height: 100%;
          background-color: rgba(255, 169, 0, 1);
          .node__time {
          }
          .node__text {
          }
        }
      }
    }
  }
}
